@import "tailwindcss";

@font-face {
    font-family: Reddit-Mono;
    src: url("/fonts/Reddit-Mono.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

@theme {
    /* Font Types */
    --font-reddit: Reddit-Mono, monospace;
    --font-montserrat: Montserrat, sans-serif;

    /* Font Sizes */
    /* 480px - 1000px */
    --text-h1-sizing: clamp(2.25rem, 0.6346rem + 5.3846vw, 4rem);
    --text-h2-sizing: clamp(1.875rem, 0.375rem + 5vw, 3.5rem);

    /* 769px - 1000px */
    --text-h3-sizing: clamp(2.25rem, -2.7155rem + 10.3448vw, 3.75rem);

    /* 480px - 650px */
    --text-h2-section-sizing: clamp(1.5rem, 0.7941rem + 2.3529vw, 1.75rem);
    --text-heading-num-sizing: clamp(1rem, 0.2941rem + 2.3529vw, 1.25rem);

    /* 320px - 480px */
    --text-p-slide-desc: 1rem;

    /* 350px - 769px */
    --text-hero-desc: clamp(1rem, 0.7912rem + 0.9547vw, 1.25rem);
    --text-hero-intro: clamp(1rem, 0.8956rem + 0.4773vw, 1.125rem);
    --text-slide-title: clamp(1.25rem, 0.8323rem + 1.9093vw, 1.75rem);

    /* Line Height for h1 and h2 on Hero component */
    /* 480px - 1000px */
    --leading-header: clamp(2rem, 0.1538rem + 6.1538vw, 4rem);
    --leading-header-h2: clamp(2rem, 0.6154rem + 4.6154vw, 3.5rem);

    /* Colors */
    --color-main-bg-clr: hsl(0, 0%, 13%);
    --color-card-bg-clr: hsl(0, 0%, 20%);
    --color-accent-clr: hsl(194, 100%, 47%);
    --color-secondary-overlay-clr: hsl(194, 100%, 5%);
    --color-tab-accent-clr: hsl(199, 21%, 17%);

    /* Text Colors */
    --color-main-txt-clr: hsl(0, 0%, 70%);
    --color-header-txt-clr: hsl(0, 0%, 90%);
    --color-header-secondary-txt-clr: hsl(0, 0%, 100%);
    --color-slide-desc-clr: hsl(0, 0%, 70%);

    /* Media Queries */
    --breakpoint-xs: 350px;
    --breakpoint-sm: 480px;
    --breakpoint-sm-md: 600px;
    --breakpoint-md: 769px;
    --breakpoint-lg: 1000px;
    --breakpoint-xl: 1400px;
}

/* Swiper Styles */
#projects .swiper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .swiper-pagination {
    position: static;
    margin-block-start: 1.5rem;
    transform: none !important;
}

/* Pagination Dot Color */
.swiper-pagination-bullet-active {
    --swiper-pagination-color: hsl(194, 100%, 47%);
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-color: hsl(199, 21%, 25%);
    --swiper-pagination-bullet-inactive-opacity: 1;
}