---
const { size = 'med' } = Astro.props;
---

<div class={`container container--${size}`}></div>

<style>
    .container {
    }

    .container--sm {
        margin: 1rem;
    }

    .container--med {
    }

    .container--lg {
    }
</style>
